<!DOCTYPE html>
<html>
  <head>
    <title>Tinyretro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="authenticated-body">
    <%= render 'shared/navbar' %>
    <%= render 'shared/alerts' %>
    <main class="content container py-5">
      <%= yield %>
    </main>
    <footer class="py-5 px-5 has-text-right">
      Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </footer>
  </body>
</html>
