<!DOCTYPE html>
<html>
  <head>
    <title>Tinyretro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/alerts' %>
    <div class="container pt-6">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="has-text-centered mb-5">
            <h1 class="logo title is-1">Tinyretro</h1>
          </div>
          <div class="card">
            <div class="card-content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
